<!DOCTYPE html>

<html>
<head>
    <%- include('./head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/aboutstylesheet.css">
</head>

<body>
<div class="hero">

    <%- include('./nav.ejs') %>

    <div class="noise"></div>
    <div class="text-container">
        <h1 class="hero-text">ALTSOUND</h1>
    </div>
</div>

<div class="grid-main">
    <div class="text">
        <h2 class="title-font">About us:</h2>
        <p>
            &emsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dapibus, tortor at lacinia congue, velit risus dictum ante, vel facilisis mi odio eu sapien. Etiam commodo leo eu hendrerit pellentesque. Quisque vitae ligula consectetur, volutpat nisl nec, sodales ex. Sed est eros, venenatis vulputate felis ac, fringilla imperdiet tellus. Integer id mattis nisi. Curabitur consequat tortor placerat risus condimentum tempor. Aliquam porttitor vestibulum metus, ut luctus nisi pellentesque sed. Nulla mi ex, interdum et sollicitudin et, porttitor a ex. Praesent rutrum nibh ipsum, quis feugiat sem tincidunt id. Sed non laoreet nulla, non pellentesque eros. Cras rutrum faucibus nisi, ut eleifend dolor sagittis nec.
            <br>
            &emsp;Morbi finibus metus ac lacus aliquam rutrum. Vivamus nisl libero, malesuada sit amet nulla quis, rhoncus suscipit ipsum. Etiam tempor, tortor sed bibendum mattis, enim arcu euismod mi, et consectetur quam dui vel lorem. Fusce sed bibendum felis. Quisque accumsan egestas orci, quis bibendum lacus vulputate id. Praesent feugiat justo sit amet quam dignissim, eget consequat sapien condimentum. Mauris sit amet sapien pharetra, ullamcorper risus sed, vulputate leo.
            <br>
            &emsp;Mauris eget nunc dignissim, suscipit est in, bibendum sapien. Suspendisse dictum enim at eros euismod gravida eu sed felis. Sed lorem nunc, finibus eu ex nec, scelerisque porttitor leo. Mauris molestie ipsum eget dui mattis blandit. Curabitur sagittis ex ac nunc consequat tempor. Aliquam rutrum rutrum sem maximus sollicitudin. Sed efficitur egestas odio, nec tincidunt ex rhoncus et. Nullam massa massa, accumsan vitae orci commodo, volutpat ornare enim. Aenean diam mi, volutpat nec lorem non, finibus rutrum lacus. Nunc eget ex id diam commodo tincidunt et non ante. In ut nisl sit amet ligula malesuada tempor quis et mauris. Donec id pretium tortor.
            <br>
            &emsp;Etiam consectetur turpis nec lobortis ornare. Nam tincidunt lorem nec nisi varius, eget sollicitudin libero euismod. In et ante id nunc consequat porta. Ut finibus rhoncus aliquet. Nulla in nibh mollis, gravida ligula a, tempus lorem. Duis nec consectetur mi, id consectetur metus. Fusce sodales tellus consequat, vulputate ante a, sollicitudin velit. Pellentesque mattis nulla eget neque pretium sollicitudin. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean aliquam orci eros, at fermentum urna volutpat nec. Cras pellentesque, erat id pretium rhoncus, nibh leo ultricies eros, non pulvinar libero nisl et lacus. Mauris sodales risus in dapibus aliquet.
            <br>
            &emsp;Curabitur ligula metus, eleifend eu est sed, molestie tincidunt orci. Sed vehicula dolor libero, vitae ultrices nunc suscipit vitae. Donec vulputate laoreet tempor. Etiam mi nisi, vehicula et purus ac, vestibulum pulvinar quam. Nunc malesuada, leo nec porta ullamcorper, arcu ex varius massa, quis pellentesque dui velit a eros. Donec varius nunc a ante pulvinar luctus vel vel purus. Vivamus nec enim nec dolor interdum tempor. Vivamus ac nulla non dolor consectetur dignissim ac a odio. Phasellus nec euismod magna. Phasellus faucibus quam orci, non tristique arcu varius vitae. Aenean ut porttitor felis.
        </p>
    </div>

    <div>
        <img src = "/img/guitaredit.jpg">
        <img src = "/img/epicmusic.jpg">

    </div>


</div>



</div>
</body>
</html>