<nav id="nav">
    <div class="nav-container">
        <div class="nav-link">
            <a href="/">Home</a>
        </div>

        <div class="nav-link">
            <a href="/about">About</a>
        </div>

        <div class="nav-link">
            <a href="/contact">Contact</a>
        </div>
    </div>
    <div class="nav-container">
        <% if(user) { %>
            <div class="nav-link">
                <a href="/logout">Logout</a>
            </div>
            <div class="nav-link">
                <a href="/chat">Chat</a>
            </div>
        <% } else { %>
            <div class="nav-link">
                <a href="/register">Register</a>
            </div>
            <div class="nav-link">
                <a href="/login">Login</a>
            </div>
            <div class="nav-link">
                <a href="/chat">Chat</a>
            </div>
        <% } %>
    </div>
</nav>